.banner {
    background-image: url('https://cosmos.network/_nuxt/img/b8c2ccf.png');
    /* height: 75vh; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.header {
    text-align: center;
}

.header nav {
    line-height: 45px;
}

.header nav a {
    text-decoration: none;
    color: rgb(237, 245, 243);
    margin-right: 20px;
    /* padding: 5px; */
    font-size: 15px;
    font-weight: 400;
}

.header nav a:hover {
    /* background-color: rgb(22, 214, 228); */
}

/* hover-effect */
/* div.click-to-top span {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333;
    color: #fff;
}

div.click-to-top:hover span {
    display: block;
    color: #fff;
} */

/* .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('https://source.unsplash.com/nKC772R_qog');
    background-size: cover;
    background-position: center;
    position: relative;
}

.avatar::before,
.avatar::after {
    --scale: 0;
    --arrow-size: 20px;
    --tooltip-color: green;

    position: absolute;
    top: -.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: bottom center;
}

.avatar::before {
    --translate-y: calc(-100% - var(--arrow-size));

    content: attr(data-tooltip);
    color: white;
    padding: .5rem;
    border-radius: .3rem;
    text-align: center;
    width: max-content;
    max-width: 100%;
    background: var(--tooltip-color);
}

.avatar:hover::before,
.avatar:hover::after {
    --scale: 1;
}

.avatar::after {
    --translate-y: calc(-1 * var(--arrow-size));

    content: '';
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
    transform-origin: top center;
} */


@media only screen and (max-width: 688px) {
    .heading {
        margin: 0%;
    }

    .header nav {
        display: flex;
        flex-direction: column;
    }

}